<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title> GRANJA SA</title>
    <style>
        .container{
            max-width: 960px;
        }
    </style>
  </head>
  <body>
    <header>
    <%- include('barraNav'); %>
    </header>
    <div class="Formulario">
      <div class="container">
          <div class="shadow-lg pb-3 mb-5 bg-body rounded">
              <h4> Datos del Alimento</h4>
              <form action="/crearAlimento" method="POST">
                <center>
                <div class="col-md-6">
                    <label for="id" class="form-label" >ID</label>
                    <input id="id" name="id" type="number" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="Descripcion" class="form-label" >Nombre</label>
                    <input id="Descripcion" name="Descripcion" type="text" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="Dosis" class="form-label" >Dosis</label>
                    <input id="Dosis" name="Dosis" type="text" class="form-control" required>
                </div>
                </center>
            </div>
                <button type="submit" class="w-100 btn btn-guardar btn-lg"> <i class="bi bi-save"></i>Registrar Alimento</button>
              </form>
         </div>
         <div class="container">
              <table id="tablaAlimento" class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcio</th>
                        <th>Dosis</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% alimentos.forEach( (alimentos) => { %>
                        <tr>
                            <td> <%= alimentos.codigo %></td>
                            <td> <%= alimentos.Nombre %></td>
                            <td> <%= alimentos.Dosis %></td>
                            <td> 
                                <a type="button" class="btnEditaralimentos btn btn-outline-primary bi bi-pencil"> </a>
                                <a href="/borrarAlimento/<%= alimentos.codigo %>" class="btn btn-outline-danger bi bi-trash"> </a>
                            </td>
                        </tr>
                   <% }) %>
                </tbody>

              </table>

      </div>

<!-- ventana modal -->
<div id="modalAlimentos" class="modal fade" tabindex="-1" aria-labelledby="modalAlimentos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Editar Alimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/editarAlimento" method="POST">
                    <div class="mb-3">
                        <label for="id_editar" class="col-form-label">Id:</label>
                        <input id="id_editar" name="id_editar" type="text" class="form-control" value="">
                    </div>
                    <div>
                        <label for="nombre_editar" class="col-form-label">Nombre:</label>
                        <input id="nombre_editar" name="nombre_editar" type="text" class="form-control" value="">
                    </div>
                    <div>
                        <label for="dosis_editar" class="col-form-label">Dosis:</label>
                        <input id="dosis_editar" name="dosis_editar" type="text" class="form-control" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script src="js/modalAlimentos.js"></script>
  </body>
</html>